<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <script src="https://cdn.jsdelivr.net/npm/plyr@3.6.3/dist/plyr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/plyr@3.6.3/dist/plyr.min.css">
    <title><%= title %> by <%= author %> | </title>
  </head>
  <body>
    <h1>
      <%= title %>
    </h1>
    <video id="player" playsinline controls data-poster="<%= thumbnail %>">
      <% var i = 0; while (i < formats.length) { var video = formats[i] %>
  <source src="<%= video.url %>" type="<%= video.mimeType.split(";")[0] %>" size="<%= video.qualityLabel.replace("p","") %>"/>
      <% i++; } %>
  </video>
      <details>
  <summary>Info:</summary>
  <p>
    Uploaded by <%= author %><br>
    Views: <%= views %>
  </p>
    </details>
   <details>
  <summary>Description:</summary>
  <p style="white-space: pre;"><%- description %></p>
</details>
      <details>
  <summary>Related Videos:</summary>
    <% var i = 0; while (i < related_videos.length) {%>
  <p>
    <a href="/watch/<%= related_videos[i].id %>"><%= related_videos[i].title %></a>
    <br><%= related_videos[i].author.name %> &bull; <%= related_videos[i].short_view_count_text %> views</p>
      <% i++; }  %>
</details>
   <footer>
    <script>
  const player = new window.Plyr('#player', {
  title: "<%- strEscape(title) %>",
  keyboard: { focused: true, global: true },
   });
;
</script>
    </footer> 
  </body>
</html>