<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
  </head>
  <body>
    <h1>
      Results for: <%= query %>
    </h1>
    <form action="/search">
      <input type="text" placeholder="Search" name="q" style="width:100%;">
    </form>
    <% var i = 0; while(i < data.length){ %>
    <h4>
     
      <a href="/watch/<%= data[i].id %>"><%= data[i].title %></a>
    </h4>
    <p>
      <%= data[i].description %> &bull; <%= data[i].uploadedAt %>
    </p>
    <% i++; } %>
  </body>
</html>